<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="neo4jConnector" class="org.graphviz.server.commands.Neo4jConnector">
        <property name="boltUrl" value="bolt://localhost:7687"/>
        <property name="boltUser" value="neo4j"/>
        <property name="boltPassword" value="neoneo"/>
    </bean>

    <bean id="commandRegistry" class="org.graphviz.server.commands.DefaultCommandRegistry">
        <property name="commandsMap">
            <map>
                <entry key="init">
                    <bean class="org.graphviz.server.commands.LazyCommandFromFile">
                        <property name="source" value="./WEB-INF/cmd_init.json"/>
                    </bean>
                </entry>
                <entry key="loadAll">
                    <!--
                    <bean class="org.graphviz.server.commands.LazyCommandFromFile">
                        <property name="source" value="./WEB-INF/cmd_loadAll.json"/>
                    </bean>
                    -->
                    <bean class="org.graphviz.server.commands.LoadGraphFromNeo4jServer">
                        <property name="connector">
                            <ref bean="neo4jConnector"/>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
</beans>