<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.interactivegraph.server"/>

    <bean class="org.interactivegraph.server.commands.neo4j.Neo4jConnector">
        <property name="boltUrl" value="bolt://localhost:7687"/>
        <property name="boltUser" value="neo4j"/>
        <property name="boltPassword" value="123456"/>
    </bean>

    <bean class="org.interactivegraph.server.commands.neo4j.Neo4jGraphMetaDBInMemory">
        <property name="captionExpr" value="${prop.name}"/>
        <property name="titleExpr" value="${prop.name}"/>
        <property name="photoURLExpr">
            <value><![CDATA[
#if($fileTool.exists("/usr/local/apache-tomcat-7.0.70/webapps/photos/byname/${prop.name}.jpg"))
http://localhost:8088/photos/byname/${prop.name}.jpg
#end
            ]]></value>
        </property>
        <property name="infoExpr">
            <value><![CDATA[
<p align="center">
#if($fileTool.exists("/usr/local/apache-tomcat-7.0.70/webapps/photos/byname/${prop.name}.jpg"))
<img width="150" src="http://localhost:8088/photos/byname/${prop.name}.jpg"><br>
#end
<b>${prop.name}</b></p>
            ]]></value>
        </property>
    </bean>

    <bean class="org.interactivegraph.server.DefaultCommandRegistry">
        <property name="commandsMap">
            <map>
                <entry key="init">
                    <bean class="org.interactivegraph.server.commands.LazyCommandFromFile">
                        <property name="source" value="./WEB-INF/cmd_init.json"/>
                    </bean>
                </entry>
                <entry key="loadGraph">
                    <!--
                    <bean class="org.graphviz.server.commands.LazyCommandFromFile">
                        <property name="source" value="./WEB-INF/cmd_loadAll.json"/>
                    </bean>
                    -->
                    <bean class="org.interactivegraph.server.commands.neo4j.LoadGraph"/>
                </entry>
                <entry key="getNodesInfo">
                    <bean class="org.interactivegraph.server.commands.neo4j.GetNodesInfo"/>
                </entry>
                <entry key="getNodesCategories">
                    <bean class="org.interactivegraph.server.commands.neo4j.GetNodesCategories"/>
                </entry>
            </map>
        </property>
    </bean>
</beans>