<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>GraphVizServlet</servlet-name>
        <servlet-class>org.graphviz.server.Servlet</servlet-class>
    </servlet>

    <!--loads spring beans-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext*.xml</param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>GraphVizServlet</servlet-name>
        <url-pattern>/graphviz-service</url-pattern>
    </servlet-mapping>
</web-app>